.game-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    background-color: #f7f7f7;
    height: 700px;
    width: 700px;
}

.game {
    position: relative;
}

.game .player-container {
    position: absolute;
    bottom: 0px;
    top: 85%;
    left: -20%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.game .player-container:nth-child(2) {
    top: 95%;
}

.game .player-container [class^="player-"] {
    position: relative;
    top: unset;
    bottom: unset;
    transform: unset;
    left: unset;
}